# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Preview

on: pull_request

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: "1.23.1"

      - name: Build
        env:
          CREDENTIAL: ${{ secrets.CREDENTIAL }}
        run: |
          sh build.sh
          mkdir -p .vercel/output/static
          cp -r public/* .vercel/output/static/

      - name: Install Vercel CLI
        run: npm install --global vercel@latest

      - name: Deploy Project Artifacts to Vercel
        run: |
          vercel deploy --yes --prebuilt --target=preview --token=${{ secrets.VERCEL_TOKEN }} | tee deploy.log

      - id: seturl
        name: Set preview url
        run: echo "url=$(tail -1 deploy.log)">> $GITHUB_OUTPUT

      - name: add preview url to PR
        uses: mshick/add-pr-comment@v2
        with:
          message: |
            Vercel Preview URL: ${{ steps.seturl.outputs.url }}
