# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Release

on:
  push:
    branches: ["release"]
  pull_request:
    branches: ["release"]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: "1.23.1"

      - name: Install Vercel CLI
        run: npm install --global vercel@latest

      - name: Build
        env:
          CREDENTIAL: ${{ secrets.CREDENTIAL }}
        run: |
          sh build.sh
          mkdir -p .vercel/output/static
          cp -r public/* .vercel/output/static/

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public
          cname: ffreplay.xinrea.cn

      - name: Deploy Project Artifacts to Vercel
        run: |
          vercel deploy --yes --prebuilt --target=production --token=${{ secrets.VERCEL_TOKEN }} | tee deploy.log

      - id: seturl
        name: Set preview url
        run: echo "url=$(tail -1 deploy.log)">> $GITHUB_OUTPUT
